<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.selenium.listeners.MyListeners"/>
	</listeners>
	<test thread-count="5" name="Test">		
		<classes>
			<class name="com.selenium.scenarios.RegisterTest"></class>
			<class name="com.selenium.scenarios.LoginTest">
				<methods>
					<include name="loginWithValidCredentials" />
					<include name="loginWithValidUsernameAndWrongPassword" />
					<include name="loginWithInvalidUsernameAndCPassword" />
					<include name="loginWithNoCredentials" />
				</methods>
			</class>
			<class name="com.selenium.scenarios.SearchTest"></class>
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->